{% extends '@App/user_layout.html.twig' %}
{% block section %}
    <section class="mainmenu">
        <div class="container">
            <ul class="mainmenu__list">
                <li class="mainmenu__item">
                    <a href="{{ path('logout') }}" class="mainmenu__link">
                        Главная
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="section__title">
        <div class="container">
            <h1 class="title">
                Главная
            </h1>
        </div>
    </section>
    <section class="content__wrapper">
        <div class="container">
            <aside class="sidebar">
                <h2>Категории</h2>
                <a class="" href="{{ path('admin_category', {id: 0}) }}">Новая категория</a>
                <ul class="categories">
                    {% for category in categories %}
                    <li class="categories__item">
                        {#<a href="{{ path('mobile') }}" class="categories__link active">#}
                            <span class="categories__icon">
                            </span>
                            <span class="categories__text">
                                {{ category.name }}
                            </span>
                        {#</a>#}
                        <div class="categories__count">
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            <main class="content">
                <h2>Товары</h2>
                {#<a class="" href="{{ path('admin_create_goods') }}">Новый товар</a>#}
                <table class="products">
                    <tr>
                        <th>Категория</th>
                        <th>Код</th>
                        <th>Название</th>
                        <th>Характеристики</th>
                        <th>Цена</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.specifications }}</td>
                            <td>{{ product.price }}</td>
                            <td><a class="" href="">Редактировать</a></td>
                            <td><a class="" href="">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </main>
        </div>
    </section>
{% endblock %}