{% extends '@App/user_layout.html.twig' %}
{% block section %}
    <section class="mainmenu">
        <div class="container">
            <ul class="mainmenu__list">
                <li class="mainmenu__item">
                    <a href="{{ path('homepage') }}" class="mainmenu__link">
                        Главная
                    </a>
                </li>
                <li class="mainmenu__item">
                    <a href="{{ path('mobile') }}" class="mainmenu__link">
                        Мобильные устройства
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="section__title">
        <div class="container">
            <h1 class="title">
                Мобильные устройства
            </h1>
        </div>
    </section>
    <section class="content__wrapper">
        <div class="container">
            <aside class="sidebar">
                <ul class="categories">
                    <li class="categories__item">
                        <a href="{{ path('mobile') }}" class="categories__link active">
                            <span class="categories__icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata><g><path d="M687.5,10h-375C269.1,10,234,45.1,234,88.5v823c0,43.4,35.1,78.5,78.5,78.5h375c43.4,0,78.5-35.1,78.5-78.5v-823C766,45.1,730.9,10,687.5,10z M458.4,81.9h88c5.3,0,9.5,4.3,9.5,9.5c0,5.3-4.3,9.5-9.5,9.5h-88c-5.3,0-9.5-4.3-9.5-9.5C448.9,86.1,453.1,81.9,458.4,81.9z M502.4,944.9c-21,0-38.1-17-38.1-38.1c0-21,17-38.1,38.1-38.1c21,0,38.1,17,38.1,38.1C540.4,927.9,523.4,944.9,502.4,944.9z M706.3,827.7H293.7V172.3h412.7V827.7z"/></g></svg>
                            </span>
                            <span class="categories__text">
                                Мобильные телефоны
                            </span>
                        </a>
                        <div class="categories__count">
                            85
                        </div>
                    </li>
                    <li class="categories__item">
                        <a href="{{ path('tablet') }}" class="categories__link">
                            <span class="categories__icon">
                            <svg enable-background="new 0 0 141.732 141.732" height="141.732px" id="Livello_1" version="1.1" viewBox="0 0 141.732 141.732" width="141.732px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Livello_8"><path d="M115.232,128.846H28.077V12.953h87.153L115.232,128.846L115.232,128.846z M68.204,135.457c0-1.904,1.543-3.445,3.448-3.445   c1.907,0,3.451,1.542,3.451,3.445c0,1.911-1.543,3.453-3.451,3.453C69.749,138.91,68.204,137.366,68.204,135.457 M126.496,5.441   h-0.006c0-0.047,0.006-0.091,0.006-0.138c0-2.929-2.374-5.303-5.304-5.303c-0.047,0-0.093,0.004-0.14,0.006V0H22.256v0.006   C22.21,0.004,22.165,0,22.117,0c-2.93,0-5.304,2.374-5.304,5.304c0,0.047,0.006,0.091,0.007,0.138h-0.007v130.523h0.142   c-0.001,0.051-0.01,0.095-0.01,0.144c0,2.923,2.369,5.291,5.294,5.291c0.046,0,0.092-0.006,0.138-0.008v0.008h98.56v-0.008   c0.047,0.002,0.091,0.008,0.14,0.008c2.923,0,5.294-2.368,5.294-5.291c0-0.049-0.008-0.093-0.011-0.144h0.141L126.496,5.441   L126.496,5.441z"/></g><g id="Livello_1_1_"/></svg>
                            </span>
                            <span class="categories__text">
                                Планшеты
                            </span>
                        </a>
                        <div class="categories__count">
                            70
                        </div>
                    </li>
                </ul>
                <a class="to-top" href="#top">
                    <i class="far fa-arrow-alt-circle-up fa-2x"></i>
                </a>
            </aside>
            <main class="content">
                <table class="products">
                    <tr>
                        <th>Категория</th>
                        <th>Код</th>
                        <th>Название</th>
                        <th>Характеристики</th>
                        <th>Цена</th>
                    </tr>
                    {% for product in products %}
                    <tr class="products__item">
                        <td>{{ product.category_id }}</td>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.specifications }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </main>
        </div>
    </section>
    <section class="pagination">
        <div class="container">
            <a href="#" class="pagination__control pagination__control-left disabled"></a>
            <ul class="pagination__list">
                <li class="pagination__item">
                    <a href="" class="pagination__link active">1</a>
                </li>
            </ul>
            <a href="#" class="pagination__control pagination__control-right"></a>
        </div>
    </section>
{% endblock %}